body {
    background: url(../images/bg_grid.png) repeat ;
    background-color: #f6fff5;
    color: rgb(16, 45, 28);
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
}
div {
    text-align: center;
}
.header-item {
    display: flex;
    /* flex-direction: column; */
}
.table1 {
    width: 80%;
    text-align: center;
    margin: auto;
}
tr:nth-child(odd) { 
    background-color: #CFEFDF; 
}
tr.new:nth-child(odd) { 
    background-color: red; 
}
tr.update:nth-child(odd) { 
    background-color: yellow; 
}
tr:nth-child(even) { 
    background-color: #CFE5DF; 
}
tr.new:nth-child(even) { 
    background-color: red; 
}
tr.updated:nth-child(even) { 
    background-color: yellow; 
}
td {
    text-align: center;
    position: relative;
    vertical-align: middle;
    margin: auto;
}
td.id {
    height: 36px;
    font-weight: bolder;
    color: darkgreen;
}
td.item {
    height: 36px;
    text-align: left;
    padding-left: 15px;
}
a { 
    color: #21665f;
    text-decoration: none;
}
a:visited {
    color: #21665f;
}
a:hover {
    color: rgb(168, 25, 82);
    font-weight: bold;
    text-decoration: none;
}
textarea {
    width: 70%;
    color: initial;
    display: inline-block;
    background-color: rgb(236, 250, 232);
    resize: vertical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font: 500 14px "Courier New";
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    padding: 2px;
}

.button {
    border-color: black;
}

.sklad {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
