<form>
    <select name="status">
        <option value="Статус">Статус</option>
        <option value="Вработе">Вработе</option>
    </select>
    <button 
            type="submit" 
            class="del"
            formaction="/filter" 
            formmethod="get">
            Получить по статусу
        </button>

    <button 
            type="submit" 
            class="del"
            formaction="/add_task" 
            formmethod="get">
            Добавить задачу
        </button>
</form>